authoritative;

default-lease-time {{ dhcp_default_lease_time }};
max-lease-time {{ dhcp_max_lease_time }};

option domain-name "{{ dhcp_domain_name }}";
option domain-name-servers {{ dhcp_domain_name_servers | join(', ') }};

{% for subnet in dhcp_subnets %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
    range {{ subnet.range_start }} {{ subnet.range_end }};
    option routers {{ subnet.routers }};
    option broadcast-address {{ subnet.broadcast }};
}
{% endfor %}

{% for host in dhcp_reservations %}
host {{ host.name }} {
    hardware ethernet {{ host.mac }};
    fixed-address {{ host.ip }};
}
{% endfor %}
