options {
    listen-on port 53 { {{ dns_listen_on | join('; ') }}; };
    listen-on-v6 port 53 { none; };
    directory       "/var/named";
    allow-query     { {{ dns_allow_query | join('; ') }}; };
    recursion {{ 'yes' if dns_recursion else 'no' }};
{% if dns_forwarders_enabled %}
    forwarders { {{ dns_forwarders | join('; ') }}; };
{% endif %}
    dnssec-validation auto;
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "." IN {
    type hint;
    file "named.ca";
};

zone "{{ domain_name }}" IN {
    type master;
    file "{{ domain_name }}.zone";
    allow-update { none; };
};

zone "{{ reverse_zone }}" IN {
    type master;
    file "{{ reverse_zone }}.zone";
    allow-update { none; };
};

include "/etc/named.rfc1912.zones";
