$TTL 86400
@   IN  SOA   {{ dns_bind_server_hostname }}.{{ dns_bind_domain_name }}. admin.{{ dns_bind_domain_name }}. (
        {{ dns_bind_serial }} ; Serial
        3600
        1800
        604800
        86400 )

        IN  NS    {{ dns_bind_server_hostname }}.{{ dns_bind_domain_name }}.

{{ dns_server_ip.split('.')[-1] }}     IN  PTR   {{ dns_bind_dns_server_hostname }}.{{ dns_bind_domain_name }}.
{% for record in dns_records_ptr %}
{{ record.ip_last_octet }}     IN  PTR   {{ record.hostname }}.{{ dns_bind_domain_name }}.
{% endfor %}
