$TTL 86400
@   IN  SOA   {{ dns_server_hostname }}.{{ domain_name }}. admin.{{ domain_name }}. (
        {{ dns_serial }} ; Serial
        3600
        1800
        604800
        86400 )

        IN  NS    {{ dns_server_hostname }}.{{ domain_name }}.

{{ dns_server_ip.split('.')[-1] }}     IN  PTR   {{ dns_server_hostname }}.{{ domain_name }}.
{% for record in dns_records_ptr %}
{{ record.ip_last_octet }}     IN  PTR   {{ record.hostname }}.{{ domain_name }}.
{% endfor %}
